<header>
  <h1>メモアプリ</h1>
  <a href="./new"><div id="addBtn">追加</div></a>
</header>
<div class="lists">
  <ui>
    <% @data_list.each do |data| %>
      <li><a href="<%= "/show/#{data[0]}" %>"><%= data[1] %></a></li>
    <% end %>
  </ui>
</div>
