<header>
  <h1><a href="/">メモアプリ</a></h1>
</header>
<form action="/api/memos" method="POST" class="new">
  <input type="text" name="title" id="newTitle">
  <textarea name="contents" id="newContents"></textarea>
  <input type="submit" value="保存" id="saveBtn">
</form>
